#editElement, #whiteBoard {

	background-color: #eeffee;
	color: blue;
	width: 400px;
	height: 200px;
	padding: 10px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;


}

main, div {
	width: 50%;
	margin: 0 auto;
	--div-box: purple;
}